@{
    ViewBag.Title = "Pizzeria";
}
<div ng-app="BlankApp">
    <div ng-controller="AppCtrl" layout="column" style="height:auto" ng-cloak>

        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left"
                        md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-xs')"
                        md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <img src="https://cdn.dribbble.com/users/404971/screenshots/1241486/pizza-logo.png" width="80" height="80">
                    <h1 class="md-toolbar-tools">Pizzería</h1>                    
                </md-toolbar>
                <div class="md-button-group" flex="66">
                    <md-button style="width: auto;" ng-click="close()" ng-href="~/Account/Login" class="md-primary">Ver pizzas</md-button><br />
                    <md-button ng-click="close()" class="md-primary">Añadir pizza</md-button><br />
                    <md-button ng-click="close()" class="md-primary">Logout</md-button><br />
                </div>
            </md-sidenav>

            <div>
                <md-content layout-padding ng-controller="LeftCtrl"></md-content>
                <md-button ng-click="toggleLeft()" class="md-primary">Menu</md-button>
            </div>
            
        </section>

    </div>

</div>

<script src="~/Scripts/sidenav.js"></script>
<style type="text/css">
    .md-button-group {
        display: block;        
    }
</style>
